.superNavDiv{
 display: flex;
 justify-content: space-between;
 padding: 1rem;
 width: 100%;
 .navLogo{
  img{
    width: 10rem;
    margin-left: 1rem;
  }
 }


}


a {
    text-decoration: none !important;
    color: black !important;
  }
  