.iconWithText{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
    img{
       width: 1.2rem;
       margin: 0;
       padding: 0;
    }
    p{
        text-align: center;
        margin: 0;
        padding: 0;
    }
}